{% extends "base_generic.html" %}

{% block content %}
  <h2>Lista de Ofertas</h2>
  <br>
  {% if em_oferta_list %}
  <table id="tabela" class="table table-hover"><thead>
	   <tr>
			<th><input type="text" id="txtColuna1" value="" placeholder="Filtre por produto aqui"/></th>
			<th></th>
			<th></th>
			<th></th>
	  </tr>
      <tr>
        <th>Produto</th>
        <th>Preço</th>
        <th>Período</th>
		<th>Estabelecimento</th>
      </tr>
    </thead>
	<tbody>
	{% for em_oferta in em_oferta_list %}
      <tr>
        <td>{{ em_oferta.pd }}</td>
		<td>R${{ em_oferta.preco }}</td>
		<td>de {{ em_oferta.inicio }} à {{ em_oferta.fim }}</td>
		<td>{{ em_oferta.sm }}</td>
      </tr>
    {% endfor %}
	</tbody>
	</table>
  {% else %}
    <p>Não há ofertas cadastradas.</p>
  {% endif %}
{% endblock %}
